{% extends "base.html" %}

{% block title %} CWURanking {% endblock %}

{% block content %}

  <div>
  {% for eachyear in  countryMetrix %}
  <table class="country">
    <tr>
      <td class="title">country({{eachyear.year}})</td>
      {% for country in eachyear.country %}
      <td> {{country}} </td>
      {% endfor %}
    </tr>
    <tr>
      <td class="title">count</td>
      {% for count in eachyear.count %}
      <td class="num"> {{count}} </td>
      {% endfor %}
    </tr>
    <tr>
      <td class="title">percentage</td>
      {% for percent in eachyear.percent %}
      <td class="num"> {{percent}}% </td>
      {% endfor %}
    </tr>
  </<table>
  {% endfor %}
  </div>

  <table>
    <tr>
      <th> world_rank </th>
      <th> university_name </th>
      <th> country </th>
      <th> rank_year(2012-2015) </th>
      <th> total_score </th>
      <th> nation_rank </th>
      <th> education_rank </th>
      <th> employment_rank </th>
      <th> faculty_rank </th>
      <th> publication_rank </th>
      <th> influence_rank </th>
      <th> citation_rank </th>
      <th> patent_rank </th>
    </tr>
    {% for rank in rankings %}
    <tr>
      <td> {{rank.WorldRank}} </td>
      <td> {{rank.UnivName}} </td>
      <td> {{rank.Country}} </td>
      <td> {{rank.RankYear}} </td>
      <td> {{rank.TotalScore}} </td>
      <td> {{rank.NationRank}} </td>
      <td> {{rank.EducationRank}} </td>
      <td> {{rank.EmploymentRank}} </td>
      <td> {{rank.FacultyRank}} </td>
      <td> {{rank.PublicationRank}} </td>
      <td> {{rank.InfluenceRank}} </td>
      <td> {{rank.CitationRank}} </td>
      <td> {{rank.PatentRank}} </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
